#mypic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 2px solid;
    border-color: #cccccc;

}

#logo{
    float:left;
    font-size: 40px;
    background-color: #8bb9ee;
    color: white;
    padding: 10px;
    margin-left: 75px;
}

nav{
    padding: 20px;
    margin-right: 55px;
}
/*color/bottom border of the nav bar */
header{
    background-color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 40px;

    border-bottom: 1px solid #cccccc;

}
/* changes the background pic */
/* body{
    background-image: url("memphis-colorful.png");

} */

#main-container{
    width:85%;
}

ul{
    background-color: white;
}

/*making the white box for the and content and colors etc for everthing in it. */
#main-section{
    width:95%;
    margin:20px auto;
    margin-right: 0;

}

#input{
    margin: 30px 30px;
    padding: 20px auto;
}

.btn.btn-light{
background-color: #8bb9ee;

}

h2{
    color: #8bb9ee;
}



/*footer */
/* footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: #ee6e73;
  border-top: 2px solid #cccccc;
  height: 50px;
  position:fixed;
  bottom: 0;
  width: 100%;

}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
} */

/* body paragraph */

p{
    word-wrap: normal;
    margin: 0px;
    line-height: 2;

}
/*picture on about me page */
.picOfMe{
    float: left;
    margin-top: 20px;
    margin-right: 25px;
}
/*pictures and the text boxes on the portfolio page */
.portfolioPics{
    width: 90%;
    margin: 5px 10px;
    height: 175px;
    position:relative;
    border: 1.5px solid;
    border-radius: 15px;
    border-color: #dbebf5;

}

.bottomCenter{
    position:absolute;
    left:9%;
    bottom:15%;
    background: #dbebf5;
    width: 80%;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    color:white;
    padding: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("memphis-colorful.png");

  }

  main {
    flex: 1 0 auto;
  }

  footer.page-footer{
      padding-top: 5px;
  }

  #contact{
      text-align: center;
  }